/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #42A5F5;
  --ifm-color-primary-dark: #1E88E5;
  --ifm-color-primary-darker: #1976D2;
  --ifm-color-primary-darkest: #1565C0;
  --ifm-color-primary-light: #64B5F6;
  --ifm-color-primary-lighter: #90CAF9;
  --ifm-color-primary-lightest: #E3F2FD;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: white;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

footer {
  padding-top: 368px;
}

.docs-wrapper footer, .blog-wrapper footer {
  padding-top: 0 !important;
}